/* Development Styles */
* {
  color: white;
  /* color: #4d6f89; */
  padding: 0;
  margin: 0;
}

body {
  background: black;
  /* min-height: 100vh; */
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* frequently used styles */

.b {
  font-weight: bold;
}

.p {
  padding: 10px 0;
}

.m {
  margin: 10px 0;
}

.m-small {
  margin: 5px 0;
}

.mr {
  margin-right: 10px;
}

.mb-sm {
  margin-bottom: 5px;
}

.mb-med {
  margin-bottom: 10px;
}

.ml {
  margin-left: 10px;
}

.ib {
  display: inline-block;
}

.error {
  color: red;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

/* buttons styles */

.primary,
.success,
.danger,
.warning,
.cancel,
.disabled {
  cursor: pointer;
  margin: 5px;
  background: #1d72e7;
  font-weight: bold;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  outline: none;
}

.cancel {
  background: #cccccc;
  color: #666666;
}

.disabled {
  background: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/* mobile-first */

main {
  border-top: 1px solid green;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  padding: 60px 0 50px 0;
  box-sizing: border-box;
}

main {
  min-width: unset;
  max-width: 600px;
  margin: 0 auto;
}

.main-footer {
  display: none;
}

.main-footer > a {
  font-size: 20px;
  padding: 15px;
}

/* Mobile Footer */

/* .container {
} */

.post-card {
  border-top: 1px solid rgb(36, 36, 36);
  border-bottom: 1px solid rgb(36, 36, 36);
  margin-top: 10px;
}

.post-header {
  text-align: left;
  padding: 10px 15px;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 42px;
  height: 42px;
  clip-path: circle(21px at center);
  /* z-index: -1; */
}

.username {
  margin: 10px;
}

/* .post-content {
} */

.post-content > img {
  width: 100%;
  object-fit: cover;
}

.post-footer {
  text-align: left;
  padding: 0 15px;
  font-size: 14px;
}

.action-icons-container {
  padding: 5px 5px 5px 0;
}

.action-icon {
  display: inline-block;
  margin-right: 10px;
}

/* Profile Page */

/* Media Queries */

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .header-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .main-footer {
    display: block;
  }

  .mobile-footer {
    display: none;
  }

  .post-image > img {
    width: 200px;
    /* height: calc(600px / 3); */
  }

  #absolute-zero {
    display: absolute;
    bottom: 0;
    background: black;
  }
}
